
{{- with .GitInfo }}
            <p id="hermes-page-gitinfo">
              <i class='fa-fw fas fa-user' title="{{ T "commitAuthor" }}"></i> {{ .AuthorName }}
              <i class='fa-fw fas fa-calendar' title="{{ T "commitDate" }}"></i> {{ .AuthorDate.Format "2006-01-02" }}
              <i class='fa-fw fas fa-clone'  title="{{ T "commitHash" }}"></i> {{ .Hash }}
            </p>
{{- end }}
            <p id="hermes-page-copyright">
              <i class='fa-fw fas fa-copyright'></i> Copyright 2023-2025, <a href="https://www.insa-strasbourg.fr/" target="_blank">INSA Strasbourg</a>
            </p>
{{- partial "term-list.html" (dict
  "page" .
  "taxonomy" "categories"
  "icon" "layer-group"
) }}