
          <style>
            a#R-logo {
              font-size: 1.875rem;
              margin-top: -.8125rem;
              max-width: 60%;
              width: 14.125rem;
            }
            @media only all and (max-width: 59.999rem) {
              a#R-logo {
                  font-size: 1.5625rem;
                  margin-top: -.1875rem;
              }
            }
            #R-logo svg,
            #R-logo svg * {
              opacity: .945;
            }
            #R-logo svg {
              margin-bottom: -1.25rem;
              margin-inline-start: -1.47rem;
              margin-inline-end: .5rem;
              width: 40.5%;
            }
            @media only all and (max-width: 59.999rem) {
              #R-logo svg {
                margin-bottom: -.75rem;
                margin-inline-start: -1.47rem;
                margin-inline-end: .5rem;
              }
            }
          </style>
          <a id="R-logo" class="R-default" href="{{ partial "permalink.gotmpl" (dict "to" .Site.Home) }}">
            <img src="/logo hermes white.svg" alt="{{ T "HermesLogo" }}" />
          </a>